@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>So the law says I have to have a privacy policy, so here it is: we promise we won't tell anyone, okay?</p>
